footer {
  background: url("/img/img-footer.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Lato", sans-serif;
  color: $white;
  padding: 90px 0;

  .container-footer {
    width: calc(100% - 40%);
    max-width: 1000px;
    margin: 0 auto;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .col-contact-us {
        h3 {
          font-weight: 800;
          font-size: 18px;
          margin-top: 0;
        }

        p {
          line-height: 1.8;
          font-size: 13px;
        }

        .social {
          align-items: center;

          a {
            color: $white;
            border-right: 1px solid #2e2e2e;
            padding: 0 15px;

            i {
              color: $white;
              font-size: 16px;
            }
          }
          a:last-child {
            border: none;
          }

          a:first-child {
            padding-left: 0;
          }
        }
      }

      .col-twitter {
        h3 {
          font-weight: 800;
          font-size: 18px;
          margin-top: 0;
        }
        .tweet {
          display: flex;
          align-items: center;
          font-size: 13px;
          max-width: 250px;

          img {
            margin-right: 25px;
            width: 45px;
            height: 45px;
          }

          span {
            color: #767676;
          }
        }
      }
    } //row
    .createdby {
      font-family: "Merriweather";
      font-weight: 700;
      font-style: italic;
      text-align: center;
      display: block;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 1px;
        background: $white;
        left: 175px;
        bottom: 50%
      }

      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 1px;
        background: $white;
        right: 175px;
        top: 50%;
      }
    }
  } //container-footer
} //footer

@media (max-width: $md) {
  footer {
    padding-top: 90px;

    .container-footer {
      flex-direction: column;

      .col-logo {
        margin: 0 auto;
      }
      .col-contact-us {
        margin: 50px auto 0 auto;
        text-align: center;

        .social {
          margin: 0 auto;
        }
      }

      .col-twitter {
        margin: 50px auto 0 auto;
        h3 {
          text-align: center;
        }
      }
    }
  }
}
