.universe {
  display: flex;
  flex-direction: row;

  .universe-leftside {
    background-image: url("/img/backgound_universe.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: $white;
    padding: 50px 0;

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    .separator {
      display: block;
      width: 40px;
      height: 1px;
      background: $white;
      margin: 30px auto;
    }

    .universe-descr {
      font-family: "Lato", sans-serif;
      font-size: 13px;
      font-weight: 400;
      max-width: 400px;
      text-transform: uppercase;
      width: calc(100% - 40px);
      text-align: center;
    }

    p {
      font-family: "Merriweather", serif;
      font-weight: 300;
      font-style: italic;
      font-size: 14px;
      text-align: center;
      margin-top: 40px;
      font-size: 14px;
      max-width: 400px;
      width: calc(100% - 40px);
    }
  }

  .universe-rightside {
    width: 50%;
    height: 850px;
    background-color: #f7f7f8;
  }
}

@media (max-width: $md) {
  .universe {
    text-align: center;
    flex-direction: column;

    .universe-leftside {
      width: 100%;
      .universe-descr {
        text-align: center;
      }
    }

    .universe-rightside {
      display: none;
    }
  }
}
