.welcome {
  position: relative;

  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .slide {
      display: none;
      background: $c-brokenwhite;
      padding: 220px 0;
      width: 100%;

      .img-wrapper {
        text-align: center;
      }

      &.--active-slide {
        display: block;
      }

      .welcome-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Lato", sans-serif;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 0;

        span {
          font-weight: 700;
        }
      }

      &.--bg-red {
        background: red;
      }
      &.--bg-yellow {
        background: yellow;
      }
      &.--bg-orange {
        background: orange;
      }
      &.--bg-lightblue {
        background: lightblue;
      }
    }

    .controls {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);

      .btn-slider {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: none;
        background: #2a2a2a;
        margin-bottom: 18px;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          transform: scale(2);
        }

        &.--active-btn-slider {
          border: 1px solid #2a2a2a;
          background: none;
          animation: ease-in;
        }
      }
    }
  }
}

@media (max-width: $sm) {
}
